.App {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
        "nav header"
        "nav content"
}

.App-header{
  grid-area: header;
}

.Content{
  grid-area: content;
}

.Navigation-Links{
  grid-area: nav;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
